---
// Component Imports
import PageBase from "../components/pagesBases/PageBase"
import "../css/globals.css";
import '@picocss/pico';
import ContentHome from "../components/contents/ContentHome/ContentHome"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
      <PageBase>
		<ContentHome  />
      </PageBase>
  </body>
</html>
